<!DOCTYPE html>
<html lang="en">
<%- include('../layout/header'); -%>
<body>
    <%- include('../layout/header'); -%>
    <div class="kotak">
        <h1>Register </h1>
        <hr>
    <div class="form-input">
        <input type="text" placeholder="Username" class="user">
        <input type="text" placeholder="email" class="user">
        <input type="text" placeholder="password" class="user">
    </div>
    <div class="form-button">
        <button type="submit" class="tombol">Daftar</button>
    </div>
    </div>
    <%- include('../layout/footer'); -%>
</body>
</html>